.bdsft-webrtc
  .authenticationView.fadeable.popup.classes.centered
    span User ID
    br
    input.userid(type='text', value='')
    br
    .authenticationUseridRow
      span Auth User ID
      br
      input.authenticationUserid(type='text', value='')
      br
    span Password
    br
    input.password(type='password', value='')
    br
    br
    .alert
    button.signIn.button(type='button') Sign in
    br
    button.signOut.button(type='button') Sign out

