.bdsft-webrtc
  .authenticationView
    span
      color #999999
      font-size 14px
      line-height 18px
    input
      background #666666
      border-bottom 1px solid #333333
      border-left 1px solid #000000
      border-right 1px solid #333333
      border-top 1px solid #000000
      color #FFFFFF
      border-radius 3px
      font-family arial
      font-size 16px
      padding 6px 6px 4px
      width 200px
    button
      border-color #999999
      border-width 1px
      border-radius 4px
      color #333333
      cursor pointer
      padding 6px 6px 4px
      margin-top 10px
      font-size 12px
      width 200px
    .alert
      font-size 20px
      text-align center
      color #FF0000
    .signIn, .signOut
      display none

    &:not(.enableAuthenticationUserid) .authenticationUseridRow
      display none

    &:not(.disconnected).authentication-shown,
    &:not(.registered):not(.registering).register
      {fadeInPopup}

    &.disconnected, 
    &:not(.authentication-shown),
    &.registered
      {fadeOut}
    
    &:not(.registered) .signIn,
    &.registered .signOut
      display block
      
    &.registered .userid,
    &.registered .authenticationUserid,
    &.registered .password
      {disabled}

    &.registering .signIn, &.unregistering .signOut
      {disabled}

